<?xml version="1.0"?>
<model>
  <name>kart</name>
  <version>1.0</version>
  <sdf version='1.5'>kart.sdf</sdf>
  <license>https://github.com/aionrobotics/aion_io/blob/master/LICENSE.txt</license>

  <author>
   <name>Sam Sheppard</name>
  </author>

  <description>
    This is a model for the 2024-2025 Paradigm autonomous kart.
  </description>
</model>
